.footer__link {
  text-decoration: none;
  color: #FFF;
  transition: all 0.8s ease-in-out;
}

.footer__link:hover {
  opacity: 0.8;
}

.footer__link:not(:nth-last-child(1)) {
  margin-right: 18px;
}

@media screen and (max-width: 767px) {
  .footer__link {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .footer__link:not(:nth-last-child(1)) {
    margin-bottom: 32px;
  }
}
